.env
.env.backup
.env.production
mysql
redis
/database
src/.phpunit.cache
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.env
src/.env.backup
src/.env.production
src/yarn-error.log
src/.phpunit.result.cache
src/xdebug/*
!src/xdebug/.gitkeep
src/bootstrap/cache/*
!src/bootstrap/cache/.gitkeep

# Editors configs
.phpactor.yml
.vscode
.fleet
.idea
rr
.rr.yaml
src/.idea
src/.vscode
src/.fleet
src/rr
src/.rr.yaml
config/.gitconfig